*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
                                                       /* NAV-BAR */
.navbar
{
    height: 60px;
    background: linear-gradient(to right, #00412d, #006547, #006d4d);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.border
{
border: 1px solid transparent;
border-radius: 2px;
height: 85%;
}
.border:hover
{
    border: 1px solid white;
    border-radius: 2px;
}

                                                        /* 1--> logo */

.nav-logo
{
    height: 50px;
    width: 113px;
}

.logo
{
    background-image: url("amazon_logo.png");
    height: 100%;
    width: 100%;
    background-size: cover;

}

                                                        /* 2--> delivery*/

.fa-location-dot
{
    color: white;
}

.deliver-to
{
    font-size: 0.70rem;
    color: #cccccc;
    padding-left: 15px;
}
.nav-location
{
        padding: 9px 9px 0px 9px;
}

.loaction-icon
{
    display: flex;
}
.country
{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-left: 3px;
}

                                                            /* 3--> search-bar */

.nav-search
 {
    height: 40px;
    width: 55%;
    background-color: rgb(184, 11, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
 }
/* ----OR---- */
 /* .nav-search
{
    background-color: rgb(184, 11, 95);
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
   
} */

.nav-search:hover
{
box-shadow: 2px 2px 4px black
}
.nav-search:focus-within
{
    outline: 2px solid rgb(235, 140, 207);
    border: 1.5px solid rgb(184, 11, 95);

}
 .select-box
 {
    height: 40px;
    width: 52px;
    color: black;
    text-align: center;
    background-color: #f3f3f3;  
    border-radius: 5px 0px 0px 5px;
    border: 0px;

}
/* ----OR---- */
/* .select-box
{
    height: 40px;
    width: 50px;
    text-align: center;
    background-color: #f3f3f3;  
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    position: relative;
    bottom: 1px;
} */
.select-box:focus
{
    outline: 2px solid rgb(255, 192, 203);
    border: 1px solid rgb(184, 11, 95);
    
}
.search-box
{
   
    height: 40px;
    width: 100%;
    color: #cccccc;
    font-size: 1rem;
    border-radius: 0px;
    border: 0px;
    padding-left: 5px;
    
}
/* ----OR---- */
/* .searchbox
{   height: 40px;
    width: 480px;
    color: #cccccc;
    font-size: 1rem;
    padding-left: 4px;
    position: relative;
    right: 4.5px;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
} */

.search-box:focus-visible
{
color: black;
outline: none;
border: none;
}
.search-icon
{
    font-size: 1.5rem;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    
}

                                                            /* 4--> language */

.lang-image
{
    height: 12px;
    width: 18px;
    margin-right: 4px;
    border-radius: 2px;
}
.en 
{
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.nav-language
{
    display: flex;
    align-items: center;
    padding: 0px 9px 0px 9px;

}
.modify-lang
{
    color: #d6d6d6d6;
    font-size: 0.8rem;
    position: relative;
    top: 1.4px;
    padding-left: 2px;
}

                                                           /* 5-->accounts */
                                                           
.acc-upper
{
    font-size: 12px;
}   
.acc-lower
{
    font-size: 14px;
    font-weight: bold;
    display: flex;
}
.modify-acc
{
    color: #d6d6d6d6;
    font-size: 0.8rem;
    padding-left: 2px;
    position: relative;
    top: 3px;
}
.nav-accounts
{
    padding: 10px 9px 0px 9px;
}

                                                          /* 6--> order */
.nav-orders
{
    padding: 10px 9px 0px 9px;
}
.order-upper
{
    font-size: 12px;
}
.order-lower
{
    font-size: 14px;
    font-weight: bold;
}
                                                          /* 7--> cart */
.nav-cart
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 11px 0px 11px;
}
.modify-cart
{
    color: white;
    font-size: 1.8rem;
}
.cart
{
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
    position: relative;
    top: 9px;
}
                                                          /* PANAL*/

.border-panal
{
border: 1px solid transparent;
border-radius: 2px;
height: 95%;
}
.border-panal:hover
{
border: 1px solid white;
border-radius: 2px;
height: 95%;
}                                                          
.panal
{
    height: 39px;
    background-image: linear-gradient(to left, #02573e, #006144);
    display: flex;
    align-items: center;
    font-weight: 500;
    
}   
.anchor-panal 
{
    text-decoration: none;
    font-size: 14px;
    padding: 8px 9px;

}   
.customize-menu
{
    font-size: 1.3rem;
}                                              
.menu-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 9px;
    margin-left: 10px;
}
.awl 
{
    text-decoration: none;
    font-weight: bold;
    padding-left: 4px;
}

                                                          /* HERO*/

