* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* NAV-BAR */
.navbar {
    height: 60px;
    background: linear-gradient(to right, #003D31, #01734B);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.border {
    border: 1px solid transparent;
    border-radius: 2px;
    height: 85%;
}

.border:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/* 1--> logo */

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 100%;
    width: 100%;
    background-size: cover;

}

/* 2--> delivery*/

.fa-location-dot {
    color: white;
}

.deliver-to {
    font-size: 0.70rem;
    color: #cccccc;
    padding-left: 15px;
}

.nav-location {
    padding: 9px 9px 0px 9px;
}

.loaction-icon {
    display: flex;
}

.country {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-left: 3px;
}

/* 3--> search-bar */

.nav-search {
    height: 40px;
    width: 55%;
    background-color: #A9166F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.nav-search:hover {
    background-color: #7E1153;
}

/* ----OR---- */
/* .nav-search
{
    background-color: rgb(184, 11, 95);
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
   
} */

.nav-search:hover {
    box-shadow: 2px 2px 4px black
}

.nav-search:focus-within {
    outline: 2px solid rgb(235, 140, 207);
    border: 1.5px solid rgb(184, 11, 95);

}

.select-box {
    height: 40px;
    width: 52px;
    color: black;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 5px 0px 0px 5px;
    border: 0px;

}

.select-box:hover {
    background-color: #E6E6E6;


}

/* ----OR---- */
/* .select-box
{
    height: 40px;
    width: 50px;
    text-align: center;
    background-color: #f3f3f3;  
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    position: relative;
    bottom: 1px;
} */
.select-box:focus {
    outline: 2px solid rgb(255, 192, 203);
    border: 1px solid rgb(184, 11, 95);

}

.search-box {

    height: 40px;
    width: 100%;
    color: #cccccc;
    font-size: 1rem;
    border-radius: 0px;
    border: 0px;
    padding-left: 5px;

}

/* ----OR---- */
/* .searchbox
{   height: 40px;
    width: 480px;
    color: #cccccc;
    font-size: 1rem;
    padding-left: 4px;
    position: relative;
    right: 4.5px;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
} */

.search-box:focus-visible {
    color: black;
    outline: none;
    border: none;
}

.search-icon {
    font-size: 1.5rem;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;

}

/* 4--> language */

.lang-image {
    height: 12px;
    width: 18px;
    margin-right: 4px;
    border-radius: 2px;
}

.en {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.nav-language {
    display: flex;
    align-items: center;
    padding: 0px 9px 0px 9px;

}

.modify-lang {
    color: #d6d6d6d6;
    font-size: 0.8rem;
    position: relative;
    top: 1.4px;
    padding-left: 2px;
}

/* 5-->accounts */

.acc-upper {
    font-size: 12px;
}

.acc-lower {
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

.modify-acc {
    color: #d6d6d6d6;
    font-size: 0.8rem;
    padding-left: 2px;
    position: relative;
    top: 3px;
}

.nav-accounts {
    padding: 10px 9px 0px 9px;
}

/* 6--> order */
.nav-orders {
    padding: 10px 9px 0px 9px;
}

.order-upper {
    font-size: 12px;
}

.order-lower {
    font-size: 14px;
    font-weight: bold;
}

/* 7--> cart */
.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 11px 0px 11px;
}

.modify-cart {
    color: white;
    font-size: 1.8rem;
}

.cart {
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
    position: relative;
    top: 9px;
}

/* PANAL*/

.border-panal {
    border: 1px solid transparent;
    border-radius: 2px;
    height: 95%;
}

.border-panal:hover {
    border: 1px solid white;
    border-radius: 2px;
    height: 95%;
}

.panal {
    height: 39px;
    background-image: linear-gradient(to left, #095749, #095749);
    display: flex;
    align-items: center;
    font-weight: 500;

}

.anchor-panal {
    text-decoration: none;
    font-size: 14px;
    padding: 8px 9px;

}

.customize-menu {
    font-size: 1.3rem;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 9px;
    margin-left: 10px;
}

.awl {
    text-decoration: none;
    font-weight: bold;
    padding-left: 4px;
}

/* HERO-SECTION */

.hero-section {
    height: 600px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #cccccc 100%),
        url('./hero1.jpg') no-repeat center center;
    background-size: cover;


}

/* PRODUCTS*/

.products {
    height: 835px;
    background-color: #cccccc;
}

.all3rows {
    position: relative;
    bottom: 350px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


.prod-all {
    height: 420px;
    width: 23%;
    background-color: white;
    padding: 20px 20px 15px 20px;


}

.prodA-inner {
    height: 100%;
    width: 100%;
}

.prodA-topic {
    font-size: 21px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.prod-img-out {

    height: 80%;
    width: 100%;
}

/* 1--> box1*/
.prod1-img-in {
    height: 100%;
    width: 100%;
    background-image: url(./prod1.jpg);
    background-size: cover;
    background-position: -50px center;
}

.shop-now {
    display: block;
    color: #007185;
    font-size: 13px;
    text-decoration: none;
    margin-top: 15px;
}

.shop-now:hover {
    color: brown;
}

/* 2--> box2*/
.prod2-img-in {
    height: 100%;
    width: 100%;
    background-image: url(./prod2.jpg);
    background-size: cover;
    background-position: -50px center;
}

/* 3--> box3*/
.prod3-topic {
    position: relative;
    left: 10px;
}

.prod3_4-img-out {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.prod-img1234 {
    flex: 1 1 40%;
    height: 40%;
    margin: 10px;


}

.prod-img1234 p {
    color: black;
    font-size: 12px;
    position: relative;
    top: 125px;

}

.prod3-img1 {
    background-image: url(./prod3i.jpg);
    background-size: cover;
    background-position: -25px center;

}

.prod3-img2 {
    background-image: url(./prod3ii.jpg);
    background-size: cover;
    background-position: -25px center;


}

.prod3-img3 {
    background-image: url(./prod3iii.jpg);
    background-size: cover;
    background-position: -25px center;
    margin-top: 10px;

}

.prod3-img4 {
    background-image: url(./prod3iv.jpg);
    background-size: cover;
    background-position: -35px center;

}

/* 4--> box4*/
.prod4-topic {
    position: relative;
    left: 10px;
}

.prod4-img1 {
    background-image: url(./prod4i.jpg);
    background-size: cover;
    background-position: -35px center;

}

.prod4-img2 {
    background-image: url(./prod4ii.jpg);
    background-size: cover;
    background-position: -27px center;


}

.prod4-img3 {
    background-image: url(./prod4iii.jpg);
    background-size: cover;
    background-position: -35px center;
    margin-top: 10px;

}

.prod4-img4 {
    background-image: url(./prod4iv.jpg);
    background-size: cover;
    background-position: -35px center;

}

/* 5--> box5*/
.prod5-img-in {
    height: 100%;
    width: 100%;
    background-image: url(./prod5.jpg);
    background-size: cover;
    background-position: -50px center;
}

/* 6--> box6*/
.prod6-img-in {
    height: 100%;
    width: 100%;
    background-image: url(./prod6.jpg);
    background-size: cover;
    background-position: -50px center;
}

/* 7--> box7*/
.prod7-topic {
    position: relative;
    left: 10px;
}

.prod7-img1 {
    background-image: url(./prod7i.jpg);
    background-size: cover;
    background-position: -25px center;

}

.prod7-img2 {
    background-image: url(./prod7ii.jpg);
    background-size: cover;
    background-position: -27px center;


}

.prod7-img3 {
    background-image: url(./prod7iii.jpg);
    background-size: cover;
    background-position: -30px center;
    margin-top: 10px;

}

.prod7-img4 {
    background-image: url(./prod7iv.jpg);
    background-size: cover;
    background-position: -35px center;

}

/* 8--> box8*/
.prod8-topic {
    position: relative;
    left: 10px;
}

.prod8-img1 {
    background-image: url(./prod8i.jpg);
    background-size: cover;
    background-position: -35px center;

}

.prod8-img2 {
    background-image: url(./prod8ii.jpg);
    background-size: cover;
    background-position: -35px center;


}

.prod8-img3 {
    background-image: url(./prod8iii.jpg);
    background-size: cover;
    background-position: -25px center;
    margin-top: 10px;

}

.prod8-img4 {
    background-image: url(./prod8iv.jpg);
    background-size: cover;
    background-position: -35px center;

}

/* BOOK_ROW */
.row3 {
    height: 280px;
    width: 96.8%;
    background-color: white;
    margin-left: 23px;
    padding: 10px 20px;
}

.book-title {
    color: black;
    font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.bookrow {
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.book123456789 {
    height: 100%;
    width: 10%;
}

.book1 {
    background-image: url(book1.jpg);
    background-size: cover;
    background-position: -3px;
}

.book2 {
    background-image: url(book2.jpg);
    background-size: cover;
    background-position: 0px;
}

.book3 {
    background-image: url(book3.jpg);
    background-size: cover;
    background-position: -2px;
}

.book4 {
    background-image: url(book4.jpg);
    background-size: cover;
    background-position: -1px;
}

.book5 {
    background-image: url(book5.jpg);
    background-size: cover;
    background-position: -4px;
}

.book6 {
    background-image: url(book6.jpg);
    background-size: cover;
    background-position: -1px;
}

.book7 {
    background-image: url(book7.jpg);
    background-size: cover;
    background-position: -2px;
}

.book8 {
    background-image: url(book8.jpg);
    background-size: cover;
    background-position: -5px;
}

.book9 {
    background-image: url(book9.jpg);
    background-size: cover;
    background-position: -2px;
}

/* RECOMMENDATIONS  */

.recom {
    margin-top: 20px;
    height: 187px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.inside-box-recom {
    height: 147px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-recom {
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 4px;
}

.button-recom {
    color: black;
    background: linear-gradient(to bottom, #FED773, #FFC228);
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    width: 230px;
    border-radius: 5px;
    border: 1.5px solid #E5A505;
    text-shadow: 0 1px 0 #ffe093;
    margin: 10px 0px 10px 0px;

}

.new-customer {
    color: black;
    font-size: 11px;

}

.recom-anchor {
    color: #066f83;
    text-decoration: none;
    font-size: 11px;
}

.recom-anchor:hover {
    color: #C7501F;
    text-decoration: underline;
}

/* Back To Top */
.back-to-top {
    color: white;
    font-size: 13px;
    height: 49px;
    width: 100%;
    border: 0px;
    background-color: #364759;
}

.back-to-top:hover {
    background-color: #485768;

}
/* FOOTER */
