*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
}
.border
{
border: 1px solid transparent;
border-radius: 3px;
height: 85%;
}
.border:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

                                                        /* 1-->LOGO PORTION */

.nav-logo
{
    height: 50px;
    width: 113px;
}

.logo
{
    background-image: url("amazon_logo.png");
    height: 100%;
    width: 100%;
    background-size: cover;

}

                                                        /* 2-->DELIVERY PORTION */

.fa-location-dot
{
    color: white;
}

.deliver-to
{
    font-size: 0.70rem;
    color: #cccccc;
    padding-left: 15px;
}
.nav-location
{
        padding: 9px 9px 0px 9px;
        margin-right: 6px;
}

.loaction-icon
{
    display: flex;
}
.country
{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-left: 3px;
}

                                                            /* 3-->SEARCH PORTION */

.nav-search
 {
    height: 40px;
    width: 576px;
    background-color: rgb(184, 11, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
 }
/* ----OR---- */
 /* .nav-search
{
    background-color: rgb(184, 11, 95);
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
   
} */

 .select-box
 {
    height: 40px;
    width: 52px;
    text-align: center;
    background-color: #f3f3f3;  
    border-radius: 5px 0px 0px 5px;
    border: 0px;

}
/* ----OR---- */
/* .select-box
{
    height: 40px;
    width: 50px;
    text-align: center;
    background-color: #f3f3f3;  
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    position: relative;
    bottom: 1px;
} */
.select-box:focus
{
    outline: 2px solid rgb(255, 192, 203);
    border: 1px solid rgb(184, 11, 95);
    
}
.searchbox
{
   
    height: 40px;
    width: 100%;
    color: #cccccc;
    font-size: 1rem;
    border-radius: 0px;
    border: 0px;
    padding-left: 5px;
    
}
/* ----OR---- */
/* .searchbox
{   height: 40px;
    width: 480px;
    color: #cccccc;
    font-size: 1rem;
    padding-left: 4px;
    position: relative;
    right: 4.5px;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
} */

.searchbox:focus-visible
{
color: black;
outline: none;
border: none;
}
.custom-size
{
    font-size: 1.5rem;
    
}
.fa-magnifying-glass
{
color: aliceblue;
padding-left: 10px;
padding-right: 10px;
} 

                                                            /* 4-->COUNTRY PORTION */


